@media screen and (max-width: 768px) {
    .lista-usuario, .lista-productos {
      display: block;
      width: 100%;
      overflow-x: auto;
    }
  }

table {
    width: 100%;
    border-collapse: collapse;
}

th,td{
    border: 1px solid rgb(197, 197, 197);
    padding: 8px;
    text-align: center;
}

th{
    background-color: rgb(187, 187, 187);
}

.imagen-producto{
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label, input{
    display: block;
    margin-bottom:10 px;
}

button img{
    margin-bottom: 20px;
    width: 40px;
    height: 40px;
}
button{
    background: none;
    border: 10px;
}

.novo-producto{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: white;
}