.Contenedor{
    display: grid;
    gap: 200 px;
    background-color: rgb(41, 41, 41);
    color: white;
}

p {
    text-align: center;
}

.Contenedor > div {
    text-align: center;
    margin-top: 20px;
}

.imagenProducto{
    opacity: .90;
    width: 30vw;
    margin-top: 10%;
}
